.container {
  width: 90%;
  text-align: left;
}
ion-grid{
  margin-left: 5%;
  margin-top: 5%;
}
ion-row{
  margin-bottom: 60px;
}
#account{
  display: inline-block;
  border-radius: 5px;
  height: auto;
  width: auto;
  margin-right: 20px;
  background-color: rgb(212, 212, 82);
  color: black;
  transition: .1s;
  padding: 10px;
}
#account:hover{
  background-color: rgb(247, 147, 147);
}
#contentWrapper{
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgb(15, 15, 15);
  opacity: .55;
  z-index: 5;
}
#contentMain{
  display: block;
  position: absolute;
  top: 10%;
  left: 30%;
  height: 0%;
  width: 40%;
  background-color: black;
  opacity: 1;
  z-index: 10;
  border-radius: 10px;
  transition: .4s;
}
ion-slide{
  
  height: 380px;
  width: 200px;
  transition: height .5s;
  text-align: center;
  margin-top: 15px;
  transition:  .3s;
  

}
ion-slide:hover{
  z-index: 10; 
  width: 230px;
  font-size: 0px;
  //color: rgb(255, 111, 171);
  // margin-right: -15px;
  // margin-left: -15px;
  
}
#comedies{
  height: 550px;
  width: 320px;
}
#comedies:hover{
  
}
.container span {
  font-size: 30px;
  font-weight: bold;
  
  //line-height: 26px;
}

