
@keyframes glow {
    0%{text-shadow: 0px 0px 10px rgb(42, 87, 138);stroke: black;stroke-width: 10px;}
    100%{text-shadow: 0px 0px 1px rgb(255, 246, 246);}
}
#welcomeMessage{
    position: relative;
    display: block;
    height: 100%;
    z-index: 10;
}
#logo{
    position: absolute;
    top: 1%;
    left: 1%;
    width: 15%;
    z-index: 15;
}
#movies{
    display: block;
    height: auto;
    font-size: 120px;
    font-weight: bold;
    font-family: 'Courgette', cursive;

    
    user-select: none;
    //margin-top: 10%;
    //padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 760px;
    z-index: 2;
    text-align: center;
    //animation-name: glow;
    animation-duration: 4s;
    animation-iteration-count: 5;
    animation-direction: alternate-reverse;
    text-shadow: 0px 0px 4.5px rgb(238, 238, 238);
}
#movies div{
  font-family: 'Raleway', sans-serif;
}
.explorer{
  font-family: 'Courgette', cursive;
  display: inline-block;
  text-shadow: 0px 0px 3px rgb(238, 238, 238);
  border: 2px solid white;
  box-shadow: 0px 2px .5px white;
  border-radius: 10px;
  padding: 5px;
  opacity: 1;
  user-select: none;
  background-color: rgba(123, 152, 216, 0.5);
  transition: background-color .5s;
}
#createAccount{
 margin-top: 3%;
  width: 150px;
  font-size: 28px;
  margin-left: 1%;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
#createAccount:hover{
  
  font-size:29px ;
  background-color: rgb(0, 0, 0);
}
#colorMotion{
  
  margin-top: 5%;
  display: inline-block;
  width: auto;
  //width: 294px;
  
  font-size: 40px;
  
}
#colorMotion:hover{
  font-size:41px ;
  background-color: rgba(89, 125, 204, 1);
}
#background{
    position:inherit;
    display: block;
    height: 100%;
    width: 100%;
    //background-color: rgb(46, 76, 207) !important;

    background-image: linear-gradient(rgb(52, 81, 158),rgb(11, 53, 109));
    z-index: -10;
  
    
    
}
#aboutUs div{
  font-family: 'Raleway', sans-serif;
}
#aboutUs span{
  font-family: 'Raleway', sans-serif;
}
#aboutUs{
    
    position: relative;
    height: 100%;
   
    z-index: 10;
    
    background-image: linear-gradient( rgba(254, 254, 255,0), rgba(16, 206, 149, 0.5));
    
}
#aboutUs .bContainer{
  
  padding: 20px;
  
    font-size: 32px;
    font-weight: 800;
    padding-left: 5%;
    padding-top: 3%;
    
}
#aboutUs .bContainer:nth-child(1){
  text-shadow: 0 0 2px white;

  height: 40%;
  background-color: #000000;
}
#aboutUs .bContainer:nth-child(2){
  color: black;
  text-shadow: 0 0 1px rgb(0, 0, 0);
  height: 35%;
  background-color: #f0f0f0;

}
#aboutUs .bContainer:nth-child(3){
  text-shadow: 0 0 1px black;
  height: 45%;
  background-color: #036cc2;

}
.button{
  padding: 5px;
  font-size: 40px;
  font-weight: 200;
  margin-top: 5%;
  display: inline-block;
  border: 2px solid white;
  user-select: none;
}

.bContainer div:nth-child(3){
  
  text-shadow: 0 0 1px black;
  background-color:#f0f0f0;
  color: black;
}
.bContainer div:nth-child(4){
  
  background-color:#036cc2;
}
#aboutUs .bContainer:nth-child(4){
  
  height: 25%;
  background-color: #000000;

}
#front{
  font-size: 26px;
  font-weight: 600 !important;
  font-style: italic;
}
#save{
  margin-left: 10px;
  padding-bottom: 20px;
}
#container{
    height: auto;
}

#logo2{
  
  width: 200px;
}
.lamp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 100vh;
    height: 100vh;
    width: 100vw;
    min-width: 100vw;
    z-index:1;
    
  }
  
  .lava{
    filter: url("#goo");
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
  }
  
  .blob{
    border-radius: 50%;
    background: #738bdb;
    //background-image: radial-gradient(rgb(166, 169, 180),rgb(52, 81, 158));
    // background-image: linear-gradient(rgb(166, 169, 180),rgb(43, 67, 134));

    /* Other sample colors:
    Orange: #e8630a
    Pink: #EA3281
    Fuscia: #E71669
    Purple: #661BAC
    Yellow: #FDC600
    Kermit green: #75AC25
    Light blue: #3283B5
    Dark blue: #0A5D9A
    Gunmetal: #232F37
    BGLight: #1B2735
    BGDark: #090a0f
    Want more colors? check out https://coolors.co/ for inspiration.
    */
    position:absolute;
  }
  
  
  
  .blob.top{
    border-radius: 50%;
    width: 100%;
    // height: 4%;
    top: -3%;
    left:0;
    
  }
  .blob.bottom{
    border-radius: 50%;
    width: 100%;
    //height:4%;
    bottom: -3%;
    left:0;
  }
  .blob:nth-child(1){
    width: 150px;
    height: 150px;
    left: 15%;
    bottom:-15%;
   
    animation: wobble 4s ease-in-out alternate infinite, blob-one ease-in-out 13s infinite;
  }
  .blob:nth-child(2){
    width: 250px;
    height: 250px;
    right: 15%;
    bottom:-65%;
    
    animation: wobble 5s ease-in-out alternate infinite, blob-two ease-in-out 22s infinite;
   
    
  
  }
  .blob:nth-child(3){
    width: 150px;
    height: 150px;
    bottom:-15%;
    left: 34%;
    
    animation: wobble 6s ease-in-out alternate infinite, blob-three ease-in-out 16s infinite;
  }
  .blob:nth-child(4){
    width: 235px;
    height: 235px;
    bottom:-19%;
    left: 30%;
    
    animation: wobble 7s ease-in-out alternate infinite, blob-four ease-in-out 12s infinite;
  }
  .blob:nth-child(4){
    width: 235px;
    height: 235px;
    bottom:-19%;
    left: 30%;
    animation: wobble 8s ease-in-out alternate infinite, blob-four ease-in-out 12s infinite;
  }
  .blob:nth-child(5){
     width: 55px;
    height: 55px;
    bottom:-25%;
    left: 34%;
    
    animation: wobble 9s ease-in-out alternate infinite, blob-five ease-in-out 32s infinite;
  }
  .blob:nth-child(6){
    width: 35px;
    height: 35px;
    bottom:-25%;
    right: 34%;
    
    animation:wobble 10s ease-in-out alternate infinite,  blob-six ease-in-out 12s infinite;
  }
  .blob:nth-child(7){
    width: 350px;
    height: 350px;
    bottom:-85%;
    right: 35%;
    
    animation: wobble 11s ease-in-out alternate infinite, blob-seven ease-in-out 32s infinite;
  }
  .blob:nth-child(8){
    width: 90px;
    height: 90px;
    bottom:-15%;
    right: 5%;
    
    animation: wobble 5s ease-in-out alternate infinite, blob-eight ease-in-out 30s infinite;
  }
  .blob:nth-child(9){
    width: 195px;
    height: 200px;
    bottom:-70%;
    right: 82%;
    
    animation: wobble 5s ease-in-out alternate infinite, blob-nine ease-in-out 15s infinite;
  }
  @keyframes blob-one{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
      transform: translatey(-700%);
    }
  }
  
  @keyframes blob-two{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
      transform: translatey(-420%);
    }
  }
  
  @keyframes blob-three{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
      transform: translatey(-305%);
    }
  }
  @keyframes blob-four{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
      transform: translatey(-605%);
    }
  }
  @keyframes blob-five{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
       transform: translatey(-700%);
    }
  }
  @keyframes blob-six{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
       transform: translatey(-700%);
    }
  }
  @keyframes blob-seven{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
       transform: translatey(-300%);
    }
  }
  @keyframes blob-eight{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
       transform: translatey(-820%);
    }
  }
  @keyframes blob-nine{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
       transform: translatey(-620%);
    }
  }
  
  @keyframes wobble {
    50% {
     border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    }
    100% {
     border-radius: 38% 52% 75% 36% / 50% 40% 50% 60%;
    }
  }

