<div id="contentMain">
    <div id="cardMain">

        <div id="movieImageCard">
            <div id="stickyDiv">
                <span class="buttons" (click)="resetNorm()">X</span>
                <!-- <div id = "watchBarBorder">The Shining</div> -->

            </div>
            <img id="imageOnCard" src="">
        </div>


        <div id="iconHolder">
            <a href="" id="netflixLink" target="_blank"> <img id="netflix" src="assets/icon/netflixIcon.jpeg"> </a>
            <a href="" id="huluLink" target="_blank"><img id="hulu" src="assets/icon/huluIcon.png" > </a>
            <a href="" id="primeLink" target="_blank"><img id="primeVideo" src="assets/icon/primeVideoIcon.png"> </a>
        </div>
        <div id="watchBar">
            <h2 id="cardTitle"></h2>
            <p id="cardDescription"></p>
            <h3><span>Director(s): </span> <span class="writerStarDirector" id="cardDir">Stanley Kubrick</span></h3>
            <h3><span>Stars: </span> <span class="writerStarDirector" id="cardCast">Jack Nicholson, Shelley Duvall, Danny Lloyd</span></h3>

        </div>
    </div>
</div>