<ion-header [translucent]="true">
    <ion-toolbar>
        <div id="titleBackground">
            <ion-title slot="start">
                <img (click)= "routePage('home')" id = "logo" src = "assets/nameLogoV2.png">
            </ion-title>
        </div>
        <span id="endToolbar" slot="end">
            
       
        <ion-item>
            <span id = "accounter" class = "buttons"  (click)= "routePage('login')">Account</span>
        </ion-item>
        
        </span>
        
    </ion-toolbar>
    
</ion-header>
 <ion-item>
            <ion-searchbar  (search)="updateSearch($event.target.value)"></ion-searchbar>
        </ion-item>
<ion-content [fullscreen]="true" id="bodyMain">
    <div id="scrollMain">
        <div id="contentMain">
            <div id="cardMain">
                <div id="movieImageCard">
                    <div id="stickyDiv">
                        <span class="buttons" (click)="resetNorm()">X</span>
                        <!-- <div id="watchBarBorder">The Shining</div> -->
                    </div>
                    <img id="imageOnCard" src="">
                </div>


                <div id="iconHolder">
                    <img id="netflix" src="assets/icon/netflixIcon.jpeg" (click)="streamingServiceRoute(0)">
                    <img id="hulu" src="assets/icon/huluIcon.png" (click)="streamingServiceRoute(1)">
                    <img id="primeVideo" src="assets/icon/primeVideoIcon.png" (click)="streamingServiceRoute(2)">
                </div>
                <div id="watchBar">
                    <h2 id="cardTitle"></h2>
                    <p id="cardDescription"></p>
                    <h3><span>Director(s): </span> <span class="writerStarDirector" id="cardDir">Stanley Kubrick</span></h3>
                    <h3><span>Stars: </span> <span class="writerStarDirector" id="cardCast">Jack Nicholson, Shelley Duvall, Danny Lloyd</span></h3>

                </div>
            </div>
        </div>

        <div id="contentWrapper" (click)="resetNorm()"></div>
        <ion-grid>

            <ion-row>
                <div class="container">
                    <span class="genreTitle">Search Results</span>
                    <ion-slides scrollbar="true" [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" #slides1>
                        <ion-slide id="comedies" *ngFor="let card of cardsSearch" (click)="movieInfo(card)">
                            <ion-col>

                                <ion-img class="movieImage" [src]="card.getPoster()"></ion-img>
                                <ion-label> {{ card.getImdbRating() }}/100</ion-label>
                            </ion-col>
                        </ion-slide>
                    </ion-slides>
                </div>
                <div class="bHolder">
                    <div class="buttons" (click)="slides1.slidePrev()"> <
                    </div>
                    <div class="buttons" (click)="slides1.slideNext()"> > </div>
                </div>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    StreamLet 2021
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>