<ion-content [fullscreen]="true" >
<div id = "background">
<div class="lamp">
    <div class="lava">
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="blob top"></div>
      <div class="blob bottom"></div>
      
    </div>
</div>
<svg id = "back" xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="2" result="blur" />
      
    </filter>
  </defs>
</svg>
<img id = "logo" (click) = "routePage('home')" src = "assets/nameLogoV2.png">
<div id="loginCard">
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit(commentForm.value)">
    <div id = "createAccount">Login and explore your reccomended</div>
    
        <ion-item><ion-input class = "textStuff" formControlName="username" placeholder = "Username" required></ion-input></ion-item>
    
    
        <ion-item><ion-input class = "textStuff" formControlName="pass1" placeholder = "Password" type="password" required></ion-input></ion-item>

         <div id = "buttonSub" class = "formInfo"><button id = "submitButton" type="submit" >Login</button></div> 
                  <div id = "accountAlready" (click) = "routePage('signup')"><span>Don't have an acount?</span></div>

    </form>
  </div>
</div>
</ion-content>
